<extend name="Temp/base"/>
<block name="content">
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        怪客学院 <small>Guaike College</small>
                    </h1>
                    <div class="jumbotron">
                        <h1>你好,<br/>
                        欢迎访问怪客学院管理后台！</h1>
                        <p>
                            在管理后台您可以随时查看修改编辑删除网站的文章，对网站实现日常的管理协调。<br />
                            下面提供常用访问URL地址，URL开发阶段，修改localhost/php_study/为网站实际域名和项目文件名！<br /><br />
                            怪客学院访问URL地址：<a href="http://z-pw.cn">http://z-pw.cn</a><br />
                            怪客学院管理页面URL：<a href="http://z-pw.cn/admin.php/Index/Index">http://z-pw.cn/Admin.php/Index/Index</a><br/>
                            怪客社区管理页面URL：<a href="http://z-pw.cn/Application/UPLOAD/?/admin/">http://z-pw.cn/Application/UPLOAD/?/admin/</a><br/>
                            怪客社区访问URL地址：<a href="http://z-pw.cn/Application/UPLOAD/">http://z-pw.cn/Application/UPLOAD/</a><br />
                        </p>
                            <a href="http://z-pw.cn" class="btn btn-danger pull-right">怪客学院首页</a>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</block>