    <ul class="nav navbar-right top-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user" style="margin-right: 5px"></i>{$user}<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="__ROOT__/"><i class="glyphicon glyphicon-home"></i> 怪客学院</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="__ROOT__/Application/UPLOAD/" target="_blank"><i class="fa fa-fw fa-gear"></i>怪客社区</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="?do=logout"><i class="fa fa-fw fa-power-off"></i>注销</a>
                </li>
            </ul>
        </li>
    </ul>